.game_out {
  height: 0;
  padding-bottom: 50%;
  position: relative;
  width: 95%;

  .game_in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 650px;
    border: 3px solid #f5ff00;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title_story {
      height: 95%;
      width: 58%;
      border: 2px solid #f5ff00;
      border-radius: 23px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-family: 'Bangers', cursive;
        width: 100%;
        height: 15%;
        color: #f5ff00;
        font-size: 75px;
        letter-spacing: 1px;
        text-shadow: 5px 5px 10px #282626;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #000656;
      }
    }

    .era_counter_tap {
      height: 95%;
      width: 40%;
      border: 2px solid #f5ff00;
      border-radius: 23px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 1000px){
  .game_out {

    .game_in {
      border: 2px solid #f5ff00;

      .title_story {

        .title {
          font-size: 55px;
          text-shadow: 5px 5px 8px #282626;
        }
      }
    }
  }
}

@media (max-width: 830px){
  .game_out {

    .game_in {
      max-height: 360px;
      max-width: 720px;
    }
  }
}

@media (max-width: 720px){
  .game_out {

    .game_in {

      .title_story {
        border: 1px solid #f5ff00;

        .title {
          font-size: 45px;
          text-shadow: 5px 5px 6px #282626;
        }
      }

      .era_counter_tap{
        border: 1px solid #f5ff00;
      }
    }
  }
}

@media (max-width: 640px){
  .game_out {

    .game_in {

      .title_story {

        .title {
          font-size: 40px;
          -webkit-text-stroke-width: 1px;
        }
      }
    }
  }
}

@media (max-width: 520px){
  .game_out {

    .game_in {

      .title_story {

        .title {
          font-size: 30px;
        }
      }
    }
  }
}
