.story_future_all {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;

  .story_future {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .story_style {
      width: 30%;
      height: 40%;
      border: 3px solid #f5ff00;
      border-radius: 23px;
      box-shadow: 5px 5px 10px #282626;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        box-shadow: 0 0 10px #f5ff00;
      }

      img {
        width: 100%;
        border-bottom: 2px solid #f5ff00;
        border-radius: 20px 20px 0 0;
      }

      .locked {
        margin: 0;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        color: #ff0b00;
      }

      .unlocked {
        margin: 0;
        display: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #00aa0c;
      }
    }


    .story26 {
      visibility: hidden;
    }

    .story27 {
      visibility: hidden;
    }

    .story28 {
      visibility: hidden;
    }

    .story29 {
      visibility: hidden;
    }

    .story30 {
      visibility: hidden;
    }
  }

  .story_future_next{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 23px 23px;

    p{
      color: #f5ff00;
      font-size: 45px;
      text-transform: uppercase;
    }

    .finish{
      font-family: 'Sriracha', cursive;
      width: 110px;
      height: 50px;
      color: #f5ff00;
      background-color: #002c88;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 30px;
      border: 3px solid #f5ff00;
      box-shadow: 5px 5px 10px #282626;
      transition: 0.4s all;
      cursor: pointer;

      &:hover{
        color: #002c88;
        background-color: #f5ff00;
        border: 3px solid #002c88;
      }
    }
  }
}


@media (max-width: 1070px) {
  .story_future_all {

    .story_future {

      .story_style {
        border: 2px solid #f5ff00;
        border-radius: 23px;
        box-shadow: 5px 5px 8px #282626;

        &:hover {
          box-shadow: 0 0 8px #f5ff00;
        }
      }
    }

    .story_future_next{

      p{
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 980px) {
  .story_future_all {

    .story_future {

      .story_style {
        box-shadow: 5px 5px 6px #282626;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 770px) {
  .story_future_all {

    .story_future {

      .story_style {
        font-size: 10px;
      }
    }

    .story_future_next{

      p{
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 650px) {
  .story_future_all {

    .story_future {

      .story_style {
        font-size: 8px;

        .locked{
          font-weight: lighter;
        }
      }
    }

    .story_future_next{

      .finish {
        width: 70px;
        height: 30px;
        font-size: 12px;
        border-radius: 15px;
        border: 2px solid #f5ff00;
        box-shadow: 5px 5px 6px #282626;
      }
    }
  }
}

@media (max-width: 570px) {
  .story_future_all {

    .story_future {

      .story_style {
        font-size: 7px;
        line-height: 11px;
      }
    }

    .story_future_next {

      p {
        font-size: 14px;
      }
    }
  }
}
