.counter{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .counter_txt{
    color: #f5ff00;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    text-shadow: 5px 5px 6px #282626;

    .counter_input{
      font-family: 'Sriracha', cursive;
      width: 130px;
      border: none;
      background: none;
      color: #f5ff00;
      font-size: 35px;
      text-align: center;
      text-shadow: 5px 5px 6px #282626;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus{
        border: none;
        outline: none;
      }
    }
  }
}

@media (max-width: 1130px){
  .counter{

    .counter_txt{
      font-size: 20px;

      .counter_input{
        width: 100px;
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 830px){
  .counter{

    .counter_txt{
      font-size: 15px;

      .counter_input{
        width: 80px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 630px){
  .counter{

    .counter_txt{
      font-size: 14px;

      .counter_input{
        width: 60px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 535px){
  .counter{

    .counter_txt{
      font-size: 12px;

      .counter_input{
        width: 50px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 430px){
  .counter{

    .counter_txt{
      font-size: 10px;

      .counter_input{
        width: 45px;
        font-size: 12px;
      }
    }
  }
}
