.tap{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  .tap_first_life{
    width: 90%;
    height: 90%;
    border: 3px solid #f5ff00;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #282626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0 0 10px #f5ff00;
    }

    .tap_first_life_img{
      width: 100%;
      height: 100%;
      border-radius: 23px;
    }
  }

  .tap_mammals{
    width: 90%;
    height: 90%;
    border: 3px solid #f5ff00;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #282626;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0 0 10px #f5ff00;
    }

    .tap_mammals_img{
      width: 100%;
      height: 100%;
      border-radius: 23px;
    }
  }

  .tap_ancient_to_now{
    width: 90%;
    height: 90%;
    border: 3px solid #f5ff00;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #282626;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0 0 10px #f5ff00;
    }

    .tap_ancient_to_now_img{
      width: 100%;
      height: 100%;
      border-radius: 23px;
    }
  }

  .tap_now_to_space{
    width: 90%;
    height: 90%;
    border: 3px solid #f5ff00;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #282626;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0 0 10px #f5ff00;
    }

    .tap_now_to_space_img{
      width: 100%;
      height: 100%;
      border-radius: 23px;
    }
  }

  .tap_human_future{
    width: 90%;
    height: 90%;
    border: 3px solid #f5ff00;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #282626;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0 0 10px #f5ff00;
    }

    .tap_human_future_img{
      width: 100%;
      height: 100%;
      border-radius: 23px;
    }
  }
}
